API_KEY = "b1AP2ULpybPSA4QJxwNcIkciB"
API_KEY_SECRET = "vUXGZ9ZJ8a0R4YphK9ZHAfwZduAs5v3iCnsxkOuXcZ9edJTqUM"
ACCESS_TOKEN = "1552621958780530688-rF7v3RU347dHhd00lKnGRExRI1vLB3"
ACCESS_TOKEN_SECRET = "2YTPWAIixuKT2LvaizWI8CstmF6ABdZOXYbMDo0DIvVcR"